<p id="flash_success"><%= flash[:success] %></p>
<h1>Pictures</h1>
<a href="/pictures/new">New Picture</a>
  <div id="images">
    <% @pictures.each do |picture| %>
      <a href="pictures/<%= picture.id %>"><img src="<%= picture.url %>"></a>
    <% end %>
  </div>
</div>