<form action="/pictures" method="post">
  <label for="url">URL of Picture</label>
  <input type="text" name="url" placeholder="url">
  <label for="description">Short Description</label>
  <input type="text" name="description" placeholder="description">
  <label for="rating">Rating</label>
  <input type="text" name="rating" placeholder="rating">
</form>

